<div class="center jumbotron">
  <%= image_tag('Nick.jpg') %>
  <h2>Nick Karamousadakis</h2>
  <h3>Artificial Intelligence and Robotics Researcher</h3>
  <%= link_to 'Sign Up', '#', class: 'btn btn-primary btn-lg' %>
  <%= link_to 'Log In', '#', class: 'btn btn-primary btn-lg' %>
</div>