<div class='container'>
  <footer class='footer'>
    <small>Copyright &copy; <a href='https://www.nick_karamousadakis.com'>Changing the world one step at a time</a>
    by <a href="https://www.linkedin.com/in/nick-karamousadakis/">Nick Karamousadakis</a></small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>